@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.logo {
  font-family: "Lobster", cursive;
  font-size: 23px;
  top: -9px;
}

.navCol {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 6vh;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#navColItems :hover {
  cursor: pointer;
}

.hero-video video {
  margin-bottom: -11px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-buttom{
  background-color: #fff;
  color: #2c2c2c;
  border: #fff;
  width: 225px;
  height: 80px;
  bottom: 650px;
  left: 845px;
  font-family: "Lobster", cursive;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
}

.hero-buttom:hover{
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*Make everything responsice after completing other parts of the app*/
@media (max-width: 1024px) {
  .navIM {
    display: none;
  }
  .logo {
    top: -17px;
    font-size: 20px;
  }
}
